<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="link" style="font-weight: 400">
    ICT Student<br>
    Former DevOps Engineer <br>
    <a href="mailto:liujun.devops@gmail.com">liujun.devops@gmail.com</a>
  </div>
  
  <div id="link">
    <a href="/files/junliu_cv.pdf">CV (pdf)</a><br>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
